@font-face {
    font-family: 'Podkova';
    src: url('./assets/fonts/Podkova-Bold.woff2') format('woff2'),
        url('./assets/fonts/Podkova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Podkova';
    src: url('./assets/fonts/Podkova-Regular.woff2') format('woff2'),
        url('./assets/fonts/Podkova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Podkova';
    src: url('./assets/fonts/Podkova-Medium.woff2') format('woff2'),
        url('./assets/fonts/Podkova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-LightItalic.woff2') format('woff2'),
        url('Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


:root {
  background-color: antiquewhite;
}

@import "tailwindcss";

@theme {
    --font-podkova: "Podkova", serif;
    --font-montserrat: "Montserrat", sans-serif;

   /* --color-primary: oklch(50.5% 0.213 27.518); /* = red-700 */
}

@layer base {

  body {
    @apply text-gray-700 font-montserrat min-h-dvh;
  }

  h1, h2, h3 {
    @apply wrap-break-word;
  }

  h1 {
    @apply font-podkova text-red-700 font-bold text-5xl md:text-6xl lg:text-7xl text-center;
  }

  h2 {
    @apply font-podkova text-4xl md:text-5xl font-bold text-red-700 pb-2 md:pb-4 lg:pb-6;
  }

  h3 {
    @apply font-podkova text-xl font-bold text-gray-700;
  }

  h2, p {
    @apply whitespace-pre-line;
  }

  p {
    @apply text-sm sm:text-base break-words;
  }

  p.category {
    @apply italic font-light;
  }

  a.homelink {
    @apply italic font-normal;
  }
  /* Borders */
  section,
  #header,
  #footer {
    @apply border-b-2 border-gray-600;
  }

  #footer {
    @apply border-t-2 border-gray-600;
  }

  section > div.section,
  div.shop,
  #header > div,
  #footer > div {
    @apply p-2 sm:p-4 px-6 lg:px-8 xl:px-16;
  }

  div.shop {
    @apply my-8 md:my-10 lg:my-16;
  }

  section > div.section {
    @apply py-12 max-w-xl sm:max-w-3xl md:py-15 lg:py-16 lg:max-w-7xl mx-auto;
  }
}