@font-face {
    font-family: 'Shafarik';
    src: url('../assets/fonts/Shafarik-Regular.woff2') format('woff2'),
        url('../assets/fonts/Shafarik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Podkova';
    src: url('../assets/fonts/Podkova-Regular.woff2') format('woff2'),
        url('../assets/fonts/Podkova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orelega One';
    src: url('../assets/fonts/OrelegaOne-Regular.woff2') format('woff2'),
        url('../assets/fonts/OrelegaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponomar';
    src: url('../assets/fonts/Ponomar-Regular.woff2') format('woff2'),
        url('../assets/fonts/Ponomar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  background-color: antiquewhite;
}

@import "tailwindcss";

@theme {
    --font-podkova: "Podkova", serif;
    --font-ponomar: Ponomar, serif;
    --font-montserrat: "Montserrat", sans-serif;
    /* --font-red: text-red-700; */
}

@layer base {

  body {
    @apply text-gray-700 font-montserrat min-h-dvh;
  }

  h1, h2, h3 {
    @apply wrap-break-word;
  }

  h1 {
    @apply font-podkova text-red-700 font-bold text-5xl md:text-6xl lg:text-7xl text-center;
  }

  h2 {
    @apply font-podkova text-5xl font-bold text-red-700 pb-2 lg:pb-4;
  }

  h3 {
    @apply text-xl font-bold text-gray-700;
  }

  h2, p {
    @apply whitespace-pre-line;
  }

  p {
    @apply text-base break-words;
  }

  /* Borders */
  section,
  #header,
  #footer {
    @apply border-b-2 border-gray-600;
  }

  #footer {
    @apply border-t-2 border-gray-600;
  }

  section > div.section,
  div.shop,
  #header > div,
  #footer > div {
    @apply p-2 sm:p-4 px-6 lg:px-8 xl:px-16;
  }

  div.shop {
    @apply my-8 md:my-10 lg:my-16;
  }

  section > div.section {
    @apply py-12 max-w-xl sm:max-w-3xl md:py-15 lg:py-16 lg:max-w-7xl mx-auto;
  }

  p.category {
    @apply italic font-light;
  }
}